.custom_button {
    color: #e60c0c;           /* 흰색 텍스트 */
}

.custom_button:hover {
    color: #0c17e6;           /* 흰색 텍스트 */
}

.header_box{
    background-color: rgb(64, 0, 255);
}

.body_box{
    background-color: rgb(0, 255, 17);
}

.side_box{
    background-color: rgb(210, 195, 255);
}

.content_box{
    background-color: rgb(121, 81, 240);
}

.dir_box{
    background-color: rgb(245, 128, 216);
}

.dir_text{
    color: black;
    font-size: 20px;
}

.search_box{
    background-color: rgb(245, 128, 132);
}

.list_box{
    background-color: rgb(214, 255, 170);
}

.file_item_box{
    margin-left: 80px;
    font-size: 26px;
}

.file_item_box:hover{
    background-color: #e60c0c;
}

.file_item_text{
    color: rgb(0, 0, 0);
}

.file_item_text.cut{
    color: rgb(130, 130, 130);
    /* background-color: #63fad4; */
}

.file_item_text.find{
    color: rgb(90, 52, 215);
    /* background-color: #63fad4; */
}

.footer_box{
    background-color: rgb(107, 137, 255);
}

.clipboard_box{
    background-color: rgb(255, 141, 141);
}